.services {
  text-align: left;
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}

.services li {
  background: #f3f3f3;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
